<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label>
      <input type="text" [(ngModel)]="hero.name" placeholder="Name">
    </label>
  </div>
</div>
<button (click)="goBack()">go back</button>
<button (click)="save()">save</button>
